/*common start*/
body{
    font-family: 'PT sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #898989;
}
/*common end*/
/*header start*/
header{
    background-color: #fcdb00;
    padding: 20px 0;
}
.c_nav{}
.logo{}
.menu{}
.menu ul li a{
    font-size: 22px;
    font-weight: 700;
    color: #010101;
    padding: 0 50px;
}
.menu ul li:last-child a{
    padding-right: 0;
}
.menu ul li a:hover{
    color: white !important;
}
/*header end*/

/*slider start*/
.s_slider{
    background-color: #fcdb00;
    padding-bottom: 100px;
}
.carousel-indicators [data-bs-target] {

    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators {
  
    bottom: -80px;
}

.s_text{
    margin-top: 50px;  
 }
.s_text h1{
    font-size: 32px;
    font-weight: 700;
    color: #010101;
 }
.s_text h2{
     font-size: 20px;
    font-weight: 400;
    color: #313841;
}
.s_text p{
    margin-bottom: 35px;
    color: #555555;
}
.s_icon{}
.s_icon ul li{
    margin-right: 30px !important;
}
.s_icon ul li i{
    font-size: 42px;
    color: #010101;
}
.s_icon ul li i:hover{
    transform: scale(0.8);
}

.s_img{
}
.s_img img{}
/*slider end*/

/*feature start*/
.feature{
        padding-top: 100px;
        padding-bottom: 120px;
      }
.c_tittle{}
.c_h1{
        margin-bottom: 15px;
        font-size: 32px;
        font-weight: 700;
        color: #010101;
      }
.c_p{
         font-family: 'PT sans', sans-serif;
          line-height: 28px;
          font-size: 20px;
          color: #313841;
      }
 

.f_item{
        margin-top: 70px;
     }
.f_icon ul li i{
    transition: .3s;
 }


.f_icon ul li i:hover{
    transform: scale(.8);
    color: white;
 }    
.f_icon i{
        margin-top: 2px;
        font-size: 50px;
        color: #010101;
      }  
.f_text h2{
        font-size: 32px;
        font-weight: 400;
        color: #898989;
        margin-bottom: 10px;
      }
.f_text p{
        letter-spacing: 1px;
      }
       /*feature end*/

/*contract section start*/
.contract{
    padding: 90px 0 120px;
    background-color: #010101;
}
.yellow{
    color: #fcdb00;
}
.c-p1{
    color: #898989;
}
.c-form{
    margin-top: 40px;
    margin-bottom: 70px;

}
.c-input{
    font-family: "PT Sans", sans-serif;
    height: 55px;
    color: #898989;
    padding: 15px 20px;
}
.c-submit{
    width: 100%;
    height: 55px;
    background-color: #fcdb00;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    color: #010101;
    text-transform: uppercase;
}
.c-submit:hover{
    background-color: white;
}
.c-icon{}
.c-icon li{
    margin-right: 30px!important;
}
.c-icon ul li a{
    font-size: 42px;
    color: #fcdb00;
}
.c-icon li:last-child{
    margin-right: 0 !important;
}
.c-icon ul li a :hover{
    color: white;
}
/*contract section end*/
    
/*footer section start*/
footer{
    background-color: #010101;
    padding-bottom: 100px;
}
.f-1{}
.f-1 address{
    color: white;
}
.f-2{}
.f-2 p a{
    color: white !important;
    text-decoration: none;
}

/*footer section end*/  